## Loading the Required Libraries

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

## Putting it all together for scraping the Data from multiple pages 

## Describing the whole 'ETL' (Extract Transform Load) process 

### First : Extracting the Data

In [2]:
def extract(page):
    url = f"https://www.shine.com/job-search/data-entry-jobs-in-noida-{page}"
    r = requests.get(url)
    soup = bs(r.content, 'html.parser')
    return soup

## Transforming (html to a tabular form) the Data from the multiple pages

In [33]:
def transform(soup):
    
    divs = soup.find_all('div', class_='w-90 ml-25')
    
    for item in divs:
        
        title = item.find('a').get_text().strip()
        
        title = title.replace('\xa0','')
        
        company = item.find('span').get_text().strip()
        
        exp = item.find('li', class_= "w-30 mr-10 result-display__profile__years").get_text().strip()
        
        
        job = {
            'Job_Title': title,
            'Company' : company,
            'Yrs_Exp'   : exp
        }
        
        job_list.append(job)
    return

job_list=[]

In [38]:
job_list[0:5]

[{'Job_Title': 'DataEntry Internship',
  'Company': 'iHackers',
  'Yrs_Exp': '0 to 1 Yr'},
 {'Job_Title': 'DataEntry Work From Home for PVT. LTD CO. l Secured Payment with Bonus',
  'Company': 'MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED',
  'Yrs_Exp': '0 to 3 Yrs'},
 {'Job_Title': 'Work From Home DataEntry  offered by Govt. Regd. & ISO Certified Company',
  'Company': 'MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED',
  'Yrs_Exp': '0 to 4 Yrs'},
 {'Job_Title': 'Work at Home  (Computer & Manual Based DataEntry)',
  'Company': 'MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED',
  'Yrs_Exp': '0 to 4 Yrs'},
 {'Job_Title': 'DataEntryClerk',
  'Company': 'Freelancer Tabriz Alam Hiring For The Muthoot Group',
  'Yrs_Exp': '2 to 7 Yrs'}]

## Exporting or Loading the Data into the Hard Drive

## Here the Data is scraped from total 7 pages

In [36]:
for i in range(1,7):
    c = extract(i)
    transform(c)

df = pd.DataFrame(job_list)

df.head()

,Job_Title,Company,Yrs_Exp
0,DataEntry Internship,iHackers,0 to 1 Yr
1,DataEntry Work From Home for PVT. LTD CO. l Se...,MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 3 Yrs
2,Work From Home DataEntry offered by Govt. Reg...,MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 4 Yrs
3,Work at Home (Computer & Manual Based DataEntry),MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 4 Yrs
4,DataEntryClerk,Freelancer Tabriz Alam Hiring For The Muthoot ...,2 to 7 Yrs

In [37]:
df

,Job_Title,Company,Yrs_Exp
0,DataEntry Internship,iHackers,0 to 1 Yr
1,DataEntry Work From Home for PVT. LTD CO. l Se...,MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 3 Yrs
2,Work From Home DataEntry offered by Govt. Reg...,MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 4 Yrs
3,Work at Home (Computer & Manual Based DataEntry),MINANSHIKA SOFTECH SOLUTION PRIVATE LIMITED,0 to 4 Yrs
4,DataEntryClerk,Freelancer Tabriz Alam Hiring For The Muthoot ...,2 to 7 Yrs
...,...,...,...
135,Back Office Coordinator,Siddhartha Consultancy Services,0 to 2 Yrs
136,"Telecallers - Kannada, Telugu, Tamil and Marat...",Indian Petro Group (IPG),3 to 5 Yrs
137,Trainee - Lead Verification,VoiceTree Technologies Pvt Ltd.,0 to 1 Yr
138,BPO/tele callers,placement madad,0 to 2 Yrs
139,Account Head,placement madad,5 to 9 Yrs

In [39]:
df.to_csv('Shine_job.csv', index=False)